body, p, ul, li, input, div{
    margin: 0;
    padding: 0;
}
ul, li{
    list-style: none;
}
a{
    text-decoration: none;
}
input, button, textarea{
    outline: none;
    border: 0;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}

.fl{
    float: left;
}
.fr{
    float: right;
}
.clearfix{
    &:after{
        content: "";
        display: block;
        clear: both;
    }
}
.bold{
    font-weight: bold;
}

